@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF !important;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden hidden;
    background-image: url(./resources/images/bg.jpeg);
    background-size: 150% 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main-card {
    height: 85vh;
    width: 85vw;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    display: flex;
    flex-direction: column;
}

.animate-fade-in {
    animation: fade-in-bottom 0.5s ease-in normal;
}

.flex-1 {flex: 1!important;}

.p-10px {padding: 20px!important;}

.carousal-left-icon,.carousal-right-icon {transition: transform 0.4s; cursor: pointer;}

.carousal-left-icon:hover,.carousal-right-icon:hover {
    transform: scale(1.5);
}

.carousal-left-icon.disabled,.carousal-right-icon.disabled{opacity: 0}

.border-grow-animation {
    border: 2px solid #FFFFFF;
    animation: border-grow ease-in 1.5s normal;
    width: 100%;
}

.glow-box-shadow {
    animation: glow-bs 1s ease-in-out infinite;
    box-shadow: 1px 1px 10px;
}

.main .main-card .content-pane {
    overflow: hidden auto;
}

@keyframes glow-bs {
    0% {box-shadow: 1px 1px 10px;}
    50% {box-shadow: 1px 1px 15px;}
    100% {box-shadow: 1px 1px 10px;}
}

@keyframes border-grow {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes fade-in-bottom {
    0% {margin-top: 40%; opacity: 0;}
    100% {margin-top: 0px; opacity: 1;}
}

@keyframes bg-animate {
    0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

@media (width > 500px) {
    .info-panel {
        padding: 50px;
    }

    .info-card {
        margin: 15px;
    }

    .card:hover {
        transition: 0.3s ease;
        transform: scale(1.05);
    }

    .init-loading-inner-wrapper {
        width: 70%;
    }

    .carousal-left-icon,.carousal-right-icon {
        font-size: 20px;
    }

    .content-container h6{
        font-size: 20px!important;
    }
}

@media (width <=500px) {
    .info-panel {
        padding: 20px;
    }

    .photo {
        height: 200px!important;
        width: 180px!important;
    }

    .info-card {
        margin: 10px;
    }

    .card, .card-no-transition {
        margin: 10px;
    }

    .init-loading {
        padding: 10px;
    }

    .init-loading-inner-wrapper {
        width: 100%;
    }

    .main .main-card {
        height: 100vh;
        width: 100vw;
    }

    .carousal-left-icon,.carousal-right-icon {
        font-size: 24px;
    }

    .photo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .content-container{
        text-align: center;
    }

    .content-container .phone-number, .content-container .email {
        text-align: center;
        justify-content: center;
    }
}

.photo {
    border-radius: 10px;
    height: 400px;
    width: 350px;
    box-shadow: 1px 1px 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}

.rounded-borders {
    border-radius: 4px;
}

.card, .card-no-transition {
    border-radius: 4px;
    padding :10px;
    background-color: inherit!important;
    color: inherit!important;
}

.f-12px{font-size: 12px!important;}

.socials h6:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    height: 42px;
    border-radius: 4px;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    background-color: #2b4162;
    padding: 10px!important;
}

.form-input:focus {
    outline: none;
    box-shadow: none;
}

.form-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
}

.init-loading {
    transition: 0.3s ease-out;
}